@import "../../../index";

.title {
    text-align: center;
    font-weight: bold;
    font-size: $font_mbPlus;
}

.withBorder {
    border-bottom: 1px solid lightgray;
}

.bottom_none {
    margin-bottom: 0;
}

.bottom_little {
    margin-bottom: 20px;
}

.bottom_middle {
    margin-bottom: 40px;
}

.bottom_large {
    margin-bottom: 60px;
}
