@import 'src/index';

.editor {
    display: flex;
    justify-content: space-between;
}

.tableTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.name {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.vegetation {
    color: $color_vegetation;
}

.bloom {
    color: $color_bloom;
}

.editorField {
    flex: 1 1 auto;
    padding: 10px 10px 10px 0;

    &:last-child {
        padding-right: 0;
    }
}

.elementName {
    vertical-align: middle;
    flex: 0 1 auto;
}

.elementLine {
    align-items: center;
}

.valueInput {
    max-height: 22px;
}

.editorFooter {
    margin-top: 30px;
    text-align: right;
}