@import "../../../index";

.logo {
    color: $color_text;
    font-size: 2.6em;
    line-height: 1;
    transition: opacity .15s linear;

    &:hover {
        color: $color_text;
        opacity: .6;
    }
}

.firstPartLogo {
    color: $color_logo;
}

.secondPartLogo {

}