@import "src/index";

.aggregate {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid $color_backPrimary;
    background-color: $back_constructor_aggregation;
}

.multiplierWrapper {
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 100;

    &:hover {
        .multiplierButtons {
            display: block;
        }
    }
}

.multiplier {
    max-width: 50px;
    height: 100%;
    padding: 3px;
    text-align: center;
    border-radius: 13px;
}

.multiplierButtons {
    display: none;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -10px;

    text-align: center;
    transform: translate(-50%, 0);
}

.addAtomButton {
    position: absolute;
    right: 10px;
    top: 10px;
}

.addMultiplierButton {
    margin-top: 10px;
    margin-right: 10px;
}

.smallButton {
    min-width: 17px!important;
    height: 17px;
    padding: 0;

    line-height: 1;
}

.smallButtonRemove {
    margin-right: 5px;
}