@import "src/index";

.agriculture {

    cursor: pointer;
    padding-left: 10px;
    transition: padding .15s ease-in-out;

    &.activeAgriculture {
        padding-left: 5px;
        background-color: $color_backSecondary;
    }
}