@import "src/index";

.link {
    display: inline-block;
    width: 50%;
    padding-right: 1em;
    margin-bottom: 1em;
    color: $color_text;
    text-decoration: underline;
}

@media screen and (max-width: 1023px) {
    .link {
        width: auto;
    }
}