@import "../../../index";

.notification {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 60px;

    position: fixed;
    bottom: 0;
    left: 0;

    font-size: 1.2em;
    background-color: $back_notification_info;

    color: #fff;

    transform: translateY(0);
    transition: transform .15s linear;
}

.hide {
    transform: translateY(100%);
}

.notification_ERROR {
    background-color: $back_notification_error;
}

.notification_INFO {
    background-color: $back_notification_info;
}

.notification_SUCCESS {
    background-color: $back_notification_success;
}

.notification_WARNING {
    background-color: $back_notification_warning;
}

.content {
    max-width: 1250px;
    text-align: center;
}