@import "../../index";
@import "../../mixins.module";

.fertilizer {
    position: relative;
    border-bottom: 1px solid $color_separator;
    @include hoverBack($color_separator);

    &:active {
        background-color: $color_back;
    }
}

.addToSolution {
    position: absolute;
    padding: 10px;
    @include hover(1);

    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.name {
    font-size: $font_mb;
    margin-bottom: 6px;
    padding: 10px 20px 0 10px;
}

.footer {
    padding: 0 10px 10px;

    &.activeFooter {
        box-shadow: inset 0px -15px 10px -10px rgba(89, 173, 233, 0.2);
    }
}

.icon {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-right: 10px;
    @include hover(1);
}

.deleteIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}