.db {
    display: block;
}

.df {
    display: flex;
}

.mb_nano {
    margin-bottom: 15px;
}

.mb_micro {
    margin-bottom: 22px;
}

.mb {
    margin-bottom: 35px;
}

.title {
    font-weight: bold;
}

.text_c {
    text-align: center;
}