@import "src/index";

.aggregation {
    display: inline-block;
}

.addAggregationButton {
    margin-bottom: 20px;
}

.saveButtonWrapper {
    margin-top: 30px;
}

.result {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.complexesBox {
    padding: 10px 0 30px;
}