@import "../../index";
@import "src/mixins.module";

.solution {
    padding: 5px 10px;

    &._solutionActive {
        background-color: $color_backSecondary;
        border-bottom: 1px solid $border_light;
    }
}

.solutionName {
    font-weight: bold;
    font-size: $font_mb;
    padding-bottom: 10px;
    @include hover;
}

.fertilizerBox {
    display: flex;
    flex-wrap: wrap;
}

.fertilizerPreview {
    flex: 1 1 auto;
    max-width: 300px;
}

.fertilizerCalculated {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid $color_separator;
}

.fertilizerPercent {
    margin-left: 20px;
    padding-left: 20px;
    color: $color_description;
}

.fertilizerLine {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.name {
    max-width: 300px;
}

.value {
    flex: 1 1 auto;
    text-align: right;
    margin-left: 20px;
    min-width: 75px;
}

.open {
    margin-left: 10px;
}