@import "src/index";

.colorText {
    color: $text;
}

.colorsTextSecondary {
    color: $textSecondary;
}

.colorDescription {
    color: $description;
}

.colorBack {
    background-color: $back;
}