@import "src/index";

.text {
    color: $color_text;
}
.textSecondary {
    color: $color_textSecondary;
}
.positive {
    color: $color_positive;
}
.negative {
    color: $color_negative;
}

////////////////////////////////////////////////////////

.description {
    color: $color_description;
}

.back {
    background-color: $color_back;
}