@import "./src/index";

.font_huge {
    font-size: $font_huge;
}

.font_big {
    font-size: $font_big;
}

.font_mdPlus {
    font-size: $font_mbPlus;
}

.font_md {
    font-size: $font_mb;
}

.font_mini {
    font-size: $font_mini;
}

.font_micro {
    font-size: $font_micro;
}

.font_nano {
    font-size: $font_nano;
}