@import "src/index";

.modal {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color_background_transparent;
    font-size: 15px;
}

.modalWindow {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: $color_backSecondary;
}

.header {
    min-height: 70px;
    border-bottom: 1px solid $color_separator;
    padding: 10px 20px;
    position: relative;
    font-size: 1.5em;
}

.modalTitle {

}

.closeModal {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    top: 10px;

    text-align: center;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
        background-color: $color_back;
    }
}

.modalContent {
    padding: 10px 20px;
}