.mainContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

.mainContent {
    flex: 1 1 auto;
}

.pageContent {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 10px;
    font-size: 14px;
}

.app-container {
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1279px) {
    .pageContent {
        font-size: 12px;
    }
}

@media screen and (max-width: 639px) {
    .pageContent {
        font-size: 10px;
    }
}