@import "../../../index";
.ingredientsWrapper {
    line-height: 1;
    font-size: $font_nano;

    &.fullSize {
        font-size: $font_mini;

        .ingredient {
            display: block;
            margin-bottom: 5px;
        }

        .chemicalName {
            margin-right: 20px;
            min-width: 40px;
            display: inline-block;
        }
    }
}

.ingredient {
    margin-right: 10px;
    color: $color_description;
}

.ingredient_underline {
    border-bottom: 1px solid $color_description;
}

.chemicalName {
    margin-right: 5px;
}

.chemicalValue {

}
