@import "../../../mixins.module";

.inlineSwitcherItem {
    display: inline-block;

}

.itemValue {
    cursor: pointer;
    transition: opacity .15s ease-in-out;
    @include hover(.7)
}

.itemValueActive {
    opacity: 1;
    text-decoration: underline;

}