
.tutorialWrapper {
    font-size: 1.3em;

    h1 {
        text-align: center;
        font-size: 2em;
    }

    h2 {
        padding-top: 30px;
        font-size: 1.5em;
    }

    li {
        font-size: 1em;
    }
}