body {
    margin: 0;
    font-family: 'Exo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$font_family_main: 'Exo', sans-serif;
$font_family_secondary: 'Roboto', sans-serig;

$font_huge: 70px;
$font_big: 42px;
$font_mbPlus: 22px;
$font_mb: 18px;
$font_mini: 16px;
$font_micro: 12px;
$font_nano: 10px;


$color_text: #FFFFFF;
$color_textSecondary: #333333;
$color_description: #59ADE9;

$color_back: #FFFFFF;
$color_backSecondary: #f5f5f5;
$color_backPrimary: #40a9ff;
$color_backSecondaryForTables: #fafafa;
$color_background_transparent: rgba(3,3,3, .5);
$color_shadow: #555;

$color_separator: #d6e4ff;

$border_light: #e8e8e8;

$color_warning: #FFFFFF;
$color_info: #FFFFFF;

$color_positive: #389e0d;
$color_negative: #ff4d4f;


$color_vegetation: #52c41a;
$color_bloom: #ffc53d;

$back_notification_info: #40a9ff;
$back_notification_error: #ff4d4f;
$back_notification_warning: #efba3e;
$back_notification_success: #52c41a;

$gag_text: #6fe262;

$back_constructor_aggregation: #f3ee5a;
$back_constructor_atom: #54BCB4;
$back_constructor_multiplier: #fffc9c;

