body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


$font_huge: 70px;
$font_big: 42px;
$font_mbPlus: 22px;
$font_mb: 18px;
$font_mini: 16px;
$font_micro: 12px;
$font_nano: 10px;


$text: #FFFFFF;
$textSecondary: #FFFFFF;
$description: #FFFFFF;
$back: #FFFFFF;
$backSecondary: #FFFFFF;
$warning: #FFFFFF;
$error: #FFFFFF;
$info: #FFFFFF;
