@mixin hover($startOpacity) {
    cursor: pointer;
    opacity: $startOpacity;
    transition: opacity .15s ease-in-out;

    &:hover {
        opacity: .6;
    }

    &:active {
        opacity: .8;
    }
}

@mixin hoverBack($toBack) {
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    &:hover {
        background-color: $toBack;
    }
}