.fertilizersWrapper {
}

.fertilizersBox {
    margin-bottom: 30px;
}

.emptyWrapper {
    padding: 40px 20px;

}

.addButton {
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .fertilizersWrapper {
        width: 50%;
    }
}