@import "../../../index";

.box {
    display: flex;
}

.calculatorItem {
    flex: 1 0 0;
    padding-right: 10px;

    &:last-child {
        padding-right: 0;
    }
}

@media screen and (max-width: 1279px) {
    .box {
        flex-wrap: wrap;
    }

    .calculatorItem {
        flex: 1 1 50%;
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 639px) {
    .calculatorItem {
        flex: 1 1 100%;
        padding: 10px;
        box-shadow: 2px 2px 15px 0 $color_background_transparent;
        margin-bottom: 2em;

        &:last-child {
            padding-right: 10px;
        }
    }
}